:root {
    --ideal-viewport-width: 1600;
}
  
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    color: #fff;
    background: #000000;
}

html {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

button {
    border: none;
    outline: none;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
}